{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Create Account
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                Add your credentials
              {% endif %}  
          </h6>
          
          <br />

          {% if success %}

            <p class="">
              Please <a href="{% url 'login' %}" class="text-black text-small">authenticate</a> using the new account.
            </p>  

          {% else %}
              <form method="POST" class="post-form" action="/monespace/traitecompte" enctype="multipart/form-data">
    <div class="row">
    <div class="col">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Votre Nom" name="nompreu">
  </div>
    </div>

        <div class="col">
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Votre Email" name="emailu">
  </div>
        </div>
    </div>
    <div class="row">
    <div class="col">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Votre Téléphone" name="teleu">
  </div>
    </div>
        <div class="col">
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Votre Mot de Passe" name="mdpu">
  </div>
    </div>
</div>
    <div class="row">
    <div class="col">
  <div class="form-group">
    <select class="form-control" name="entreprise">
        <option value="no entreprise">--Choissir  votre  entreprise</option>
      <option value="ccbm">ccbm</option>
      <option value="orbit">orbit</option>
    </select>
  </div>
    </div>

    <div class="col">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Poste" name="postu">
  </div>
    </div>
    </div>
    <div class="row">
    <div class="col">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Secteur" name="sectu">
  </div>
    </div>

    <div class="col">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Votre Adresse" name="adresseu">
  </div>
    </div>
    </div>
    <div class="row">
    <div class="col">
  <div class="form-group">
    <input type="file" class="form-control-file" name="image">
  </div>
    </div>
    </div>
    <div class="row">
    <div class="col">

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>

    <div class="col">
    <a href="/monespace" class="btn btn-danger">Annuler</a>
    </div>
    </div>
  </div>
</form>
            <!--<form role="form" method="post" action="">
                
              {% csrf_token %}


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username</label>
                    {{ form.username }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.username.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    {{ form.email }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.email.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Password</label>
                    {{ form.password1 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password1.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Password Check</label>
                    {{ form.password2 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password2.errors }}</span>

              <br />

              <button type="submit" name="register" class="btn btn-primary pull-left">Register</button>

              &nbsp; &nbsp; 
              <span class="pull-right">
                Have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
              </span>

              <div class="clearfix"></div>

            </form>-->
          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
