
{% include 'nav.html' %}

            <div class="col-8" style="width: 100px;">
                <div style="margin-top: 50px;width: 100%;">
            <p

               style="background-image: linear-gradient(to right, #FF6600, #FF6600);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 26px;"
            >Bienvenue dans votre espace client Orbit-City</p>
            <p style="text-align: center;font-size: 30px;margin-top:50px;text-transform: uppercase;">Mr {{userlog.nompreu}}<p>
            <p
                        style="margin-left:20px;margin-top:50px;background-image: linear-gradient(to right, #FF6600, #FF6600);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 20px;"




                >Cette espace client vous permettra de gerer
toutes vos commandes en ligne en seul clic sans
moindre d'efforts. Elle fluide et intuitive, si voulez
en savoir, merci de visiter notre demo ici</p>
            </div>
        </div>


</body>
</html>
