<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      {% load static %}
    <link href="{% static/asseyts/moncss/bootstrap.min.css" >
    <link href="/static/assets/moncss/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body  class="" style="background-color: #eee;">
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-6">


                <div class="text-center">
                  <img src="/static/assets/img/lo.JPG"
                    style="width: 185px;" alt="logo"/>
                </div>

                <form  method="Post" action="/monespace/login">

                  {% for field in form %}
                    <div class="form-outline mb-4">
                  <p>
    <input class="form-control"
                   type="{{ field.field.widget.input_type }}"
                   name="{{ field.html_name }}"
                   placeholder= "  {{ field.field.label }}"
                   {% if field.value %}value="{{ field.value }}"{% endif %}>
    </p>
                    </div>


                  {% endfor %}
                    {% csrf_token %}
                  <input type="hidden" name="idpro" value="{{ idpro }}">
                  <!--<p>BIENVENUE</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Phone number or email address"   name="emailu"/>
                    <label class="form-label" for="form2Example11">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control"  name="mdpu"/>
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>-->

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">se connecter</button>
                    <a class="text-muted" href="#!">Mot  de passe  oublié?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Vous  n ' avez pas  de compte?</p>
                    <a    class="text-muted"  href="/monespace/crercompte">
                      <!--<button type="button" class="btn btn-outline-danger">-->
                        Inscrivez-vous
                        <!--</button>-->
                    </a>
                  </div>
                    <a  type="button" class="btn btn-light" style="padding:15px;border-radius: 30px;border:1px black solid" href="/monespace/indexentre">
                        Se connecter  en  tant  qu ' Entreprise</a>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">BIENVENUE A  MON ESPACE  ORBITCITY</h4>
                <p class="small mb-0">
                    Cette espace client vous permettra de gerer toutes vos commandes en ligne en un seul clic sans moindre d'efforts. Elle fluide et intuitive, si voulez en savoir plus, nous vous invitons de créer un compte !



                    </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>