{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if pre  %}
      <p>
        Votre  demande  de precommande  du  produit {{ pre.description }} }}  est  prevu  le  {{  }}.
          Merci de votre confiance
        <!--<button type="button primary">ok</button>-->
      <a type="button" href="/monespace/affichenotificationpre/idclt={{userlog.idu}}">ok</a>
      </p>

{% endif %}
    {% if dmd  %}
      <p>
        Votre  demande  de cre   pour  le   produit {{ dmd.description }} }}   est  validee et  sera  livree  dans  une  brif delais.
          Merci de votre confiance

      <a type="button" href="/monespace/affichenotificationdmd/idclt={{ userlog.idu }}">ok</a>
      </p>

{% endif %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}